Hello!

You have successfully placed your application for
<%= @job.title %>. Your application will be processed soon, please be patient.

To login to the site, just follow this link: <%= @url %>.

Thanks and have a great day!