<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :class => "form-horizontal", :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>
  <div>
	  <div>
		  <div>
			  <div class="control-group">
			    <label class="control-label" for="inputEmail">Email</label>
			    <div class="controls">
			  	  <%= f.email_field :email, :placeholder => "Email" %></div>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Password</label>
			    <div class="controls">
			  	  <%= f.password_field :password, :placeholder => "Password"  %></div>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Password Confirmation</label>
			    <div class="controls">
			  		<%= f.password_field :password_confirmation, :placeholder => "Password" %></div>
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			  	  <div><%= f.submit "Sign up", class: "btn btn-small" %></div>
			    </div>
			  </div>
		  </div>
	  </div>
  </div>

<% end %>
<div>
	<%= render "devise/shared/links" %>
</div>
