- if can? :modify, Job 
	li
		div class="btn-group"
			a class="btn dropdown-toggle" data-toggle="dropdown" href="#"
				= t('helpers.Jobs')
				span class="caret"
				ul class="dropdown-menu"
					li
						= link_to t('scopes.All'), jobs_path(:scope => :all)
						= link_to t('scopes.Review'), jobs_path(:scope => :reviewed)
						= link_to t('scopes.Draft'), jobs_path(:scope => :draft)
						= link_to t('scopes.Published'), jobs_path(:scope => :published)
- else
  	li
  		= link_to(t('.Jobs'), jobs_path(:scope => :published))
