<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p id="notice"><%= alert %></p>
<% end %>
<h1 class="well main-well header_text header_background"><%= t('helpers.Applications') %></h1>

<table class="table table-striped tablesorter">
	<thead>
	  <tr>
	    <th><%= t('helpers.User') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('.Motivation') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('helpers.Job') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th></th>
	    <th></th>
		<% if can? :modify, Application %>
			<th><%= t('helpers.State') %> <i class="icon-small icon-resize-vertical" /></th>
		<% else %>
			<td></td>
	  	<% end %>
	  </tr>
	</thead>
	<tbody>
	<% @applications.each do |application| %>
	  <tr>
	    <td><%= User.find(application.user_id).email if application.user_id %></td>
	    <td><%= application.motivation %></td>
	    <td><%= Job.find(application.job_id).title if application.job_id %></td>
	    <td><%= link_to t('helpers.Show'), application, class: "btn btn-small" %></td>
	    
		<% if can? :modify, Application %>
		
		    <td><%= link_to t('helpers.Edit'), edit_application_path(application), name: "application_edit_button" , class: "btn btn-small" %></td>
	    	<td><%= t('scopes.' + application.human_state_name.humanize) %></td>
		<% else %>
			<td></td>
			<td></td>
	  	<% end %>
	
	  </tr>
	<% end %>
	</tbody>
</table>

<br />

<% if can? :modify, Job %>
	<%= link_to t('.New_application'), new_application_path, class: "btn btn-small" %>
<% end %>