<%= form_for(@application, :html => { :multipart => true }, :validate => true) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('helpers.Job') + ": " + Job.find(@application.job_id).title if @application.job_id %>
  </div>
  <div class="field">
    <%= t('applications.index.Motivation') %><br />
    <%= f.text_field :motivation %>
  </div>
  <div class="field">
    <%= t('applications.index.motivational_letter') %><br />
	  <%= f.file_field :motivational_letter %>
    <%= @application.motivational_letter_file_name unless nil %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: @application.user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :job_id, value: @application.job_id if @application.job_id %>
  </div>
  
  <div class="field">
    <%= t('applications.index.cv') %><br />
	  <%= f.file_field :cv %>
    <%= @application.cv_file_name unless nil %>
  </div>
  
  <div class="actions">
    <%= f.submit t("helpers.Save"), id: "save_button", class: "btn btn-small" if current_user.id == @application.user_id %>
  </div>
<% end %>
