<h1><%= t(".Editing_application") %></h1>

<%= render 'form' %>

<%= link_to t('helpers.Show'), @application, class: "btn btn-small" %>
<%= link_to t('helpers.Back'), applications_path, class: "btn btn-small" if can? :modify, Application %>
