- if notice
	%p#notice= notice
- if alert
	%p#notice= alert
%h1.well.main-well.header_text.header_background= t('helpers.Applications')

%table.table.table-striped.tablesorter
	%thead
		%tr
			%th
				= t('helpers.User')
			%th
				= t('.Motivation')
			%th
				= t('helpers.Job')
			%th
			%th
			- if can? :modify, Application
				%th
					= t('helpers.State')
			- else
				%th
	%tbody
	- @applications.each do |application|
		%tr
			%td= User.find(application.user_id).email if application.user_id
			%td= application.motivation
			%td= Job.find(application.job_id).title if application.job_id
			%td= link_to t('helpers.Show'), application, class: "btn btn-small"
			- if can? :modify, Application	
				%td= link_to t('helpers.Edit'), edit_application_path(application), name: "application_edit_button" , class: "btn btn-small"
				%td= t('scopes.' + application.human_state_name.humanize)
			- else
				%td
				%td

%br

- if can? :modify, Job
	= link_to t('.New_application'), new_application_path, class: "btn btn-small"
