<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>


<dl class="dl-horizontal">
  <dt>
  	<b class="label"><%= t('helpers.User') %></b>
  </dt>
  <dd style="font-size: 20px;">
  	<%= User.find(@application.user_id).email %>
  </dd>
  <dt>
  	<b class="label"><%= t('helpers.CV') %></b>
  </dt>
  <dd>
  	<%= @application.cv_file_name %>
  </dd>
  <dt>
  	<b class="label"><%= t('applications.index.Motivation') %></b>
  </dt>
  <dd>
  	<%= @application.motivation %>
  </dd>
  <dt>
  	<b class="label"><%= t('applications.index.Motivational_letter') %></b>
  </dt>
  <dd>
  	<%= @application.motivational_letter_file_name %>
  </dd>
  <dt>
  	<b class="label"><%= t('helpers.Job') %></b>
  </dt>
  <dd>
  	<%= @application.job.title if @application.job %>
  </dd>
</dl>
<% @application.state_events.each do |event| %>
	<%= link_to t("helpers." + event.to_s), applications_event_path(@application.id, event), id: event.to_s + "_button" , class: "btn btn-small" if can?(event.to_sym, Application) %>
<% end %>
<% if (@application.user.id == current_user.id || can?(:modify, Application)) %>

	<%= link_to t('helpers.Edit'), edit_application_path(@application), class: "btn btn-small" %>
<% end %>
<!-- <%= link_to t("helpers.Apply"), applications_event_path(@application.id, "publish"), class: "btn btn-small", :id => "publish_button" %> -->
<%= link_to t('helpers.Back'), applications_path, class: "btn btn-small" %>
