<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('helpers.Title') %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= t('helpers.State') %><br />
    <%= f.text_field :state, :value => @job.human_state_name.humanize, :disabled => true %>
  </div>
  <div class="field">
    <%= t('helpers.Description') %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= t('.Tasks') %><br />
    <%= f.text_area :tasks %>
  </div>
  <div class="field">
    <%= t('.Qualifications') %><br />
    <%= f.text_area :qualifications %>
  </div>
  
  <div class="field">
    <%= t('helpers.Contact') %><br />
    
  	<%= collection_select(:job, :contact_id, User.all, :id, :email, {include_blank: true}) %>
  </div>
  <div class="field">
    <%= t('helpers.Company') %><br />
    
  	<%= collection_select(:job, :company_id, Company.all, :id, :name) %>
  </div>
  
  <div class="actions">
    <%= f.submit t("helpers.Submit"), class: "btn btn-small", :id => "submit_button" %>
  </div>
<% end %>
