<%= semantic_form_for @job, :validate => true do |f| %>
	<%= f.inputs :title, :description, :tasks, :qualifications %>
	<%= f.input :contact_id, :as => :select, :collection => User.all, :member_label => :email, :required => true, :input_html => { :class => 'field' } %>
	<%= f.input :company, :as => :select, :collection => Company.all, :member_label => :name, :required => true, :input_html => { :class => 'field' } %>
	<%= f.input :tags, :as => :check_boxes, :collection => Tag.all %>
	<!-- <%= f.action :submit, :label => t("helpers.Submit"), :button_html => { :class => "btn btn-small" } %> -->
	
  <div class="actions">
    <%= f.submit t("helpers.Save"), id: "save_button", id: "submit_button", class: "btn btn-small", style: "width:100px; color: rgb(51, 51, 51);" %>
  </div>
<% end %>