<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p id="notice"><%= alert %></p>
<% end %>
<h1 class="well main-well header_text header_background capybara-jobs"><%= t('helpers.Jobs') %></h1>


<table class="table table-striped tablesorter">
	<thead>
	  <tr>
	    <th><%= t('helpers.Title') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('helpers.Description') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('helpers.Company') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('helpers.Contact') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th></th>
	    <th></th>
	    <th></th>
		<% if can? :modify, Job %>
	    	<th><%= t('helpers.State') %> <i class="icon-small icon-resize-vertical" /></th>
		<% else %>
			<th></th>
		<% end %>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	<% @jobs.each do |job| %>
	  <tr>
	    <td><%= job.title %></td>
	    <td><%= job.description %></td>
	    <%
	    	company = Company.find(job.company_id) if job.company_id
	    	contact = job.contact
	     %>
	    <td><%= link_to company.name, company, :name => "link_to_company" if job.company_id %></td>
	    <td><%= link_to "#{contact.email[0, 15]}..." if contact %></td>
	    <td><%= link_to t('helpers.Show'), job, class: "btn btn-small" if can? :modify, Job %></td>
		    
		<% if can? :modify, Job %>
		
			<td><%= link_to t('helpers.Edit'), edit_job_path(job), name: "job_edit_button" , class: "btn btn-small" %></td>
		    <td><%= link_to t('helpers.Destroy'), job, method: :delete, name: "job_destroy_button", class: "btn btn-small", data: { confirm: 'Are you sure?' } %></td>
	    	<td><%= t('scopes.' + job.state) %></td>
		<% else %>
			<td></td>
			<td></td>
			<td><%= t('scopes.' + job.state) %></td>
		<% end %>
		
		<td>
	  		<%= link_to t('helpers.Details'), job, class: "btn btn-small" %>
	  	</td>
	
	  </tr>
	<% end %>
	</tbody>
</table>

<br />

<% if can? :modify, Job %>
	<%= link_to t('helpers.New'), new_job_path, class: "btn btn-small", :id => "new_job_button" %>
<% end %>
