<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<dl class="dl-horizontal">
  <dt>
  	<b class="label"><%= t('helpers.Title') %></b>
  </dt>
  <dd style="font-size: 20px;">
	<%= @job.title %>
  </dd>
  
  <dt>
  	<b class="label"><%= t('helpers.Description') %></b>
  </dt>
  <dd>
  	<%= @job.description %>
  </dd>
  <dt>
  	<b class="label"><%= t('jobs.form.Tasks') %></b>
  </dt>
  <dd>
  	<%= @job.tasks.html_safe if @job.tasks %>
  </dd>
  <dt>
  	<b class="label"><%= t('jobs.form.Qualifications') %></b>
  </dt>
  <dd>
  	<%= @job.qualifications.html_safe if @job.qualifications %>
  </dd>
  <dt>
  	<b class="label"><%= t('jobs.form.Tags') %></b>
  </dt>
  <dd>
  	<ul>
	  	<% @job.tags.each do |tag| %>
			<li><%= tag.name %></li>  		
	  	<% end %>
  	</ul>
  </dd>
  <% if can? :manage, Job %>
	  <dt>
	  	<b class="label"><%= t('helpers.State') %></b>
	  </dt>
	  <dd>
	  	<%= @job.state %>
	  </dd>
	<% end %>

</dl>
<% @job.state_events.each do |event| %>
	<%= link_to t("helpers." + event.to_s), jobs_event_path(@job.id, event), class: "btn btn-small", :id => event.to_s + "_button" %>
<% end %>


	<%= link_to t('helpers.Edit'), edit_job_path(@job), class: "btn btn-small" if can? :modify, Job %>
	<%= link_to t('helpers.Back'), jobs_path, class: "btn btn-small" %>
<% if user_signed_in? %>

	<%= link_to t('helpers.Apply'), new_application_path(job_id: @job.id), id: "apply_button", class: "btn btn-small" if can? :apply, Job %>
<% else %>
	
  	<%= link_to( t('helpers.Login_to_ Apply'), new_user_session_path, id: "apply_button", class: "btn btn-small") if can? :apply, Job %>
<% end %>	

  <%= link_to( t('helpers.PDF'), job_pdf_path(@job.id), id: "pdf_button", class: "btn btn-small") %>
  	