<%
	@company = Company.find(@job.company_id)
%>
<div class="well">
	<h1 class="well main-well header_text header_background">
		<%= @job.title %>
	</h1>
	<div class="well main-well">
		<p style="font-size: 8pt">
			<%= @company.template_header%>
		</p>
		<br />
		<dl class="dl-horizontal">
		  
		  <dt style="width:100px;">
		  	<b class="label"><%= t('helpers.Description') %></b>
		  </dt>
		  <dd style="margin-left:110px; font-size: 8pt;">
		  	<%= @job.description %>
		  </dd>
		  <dt style="width:100px;">
		  	<b class="label"><%= t('jobs.form.Tasks') %></b>
		  </dt>
		  <dd style="margin-left:110px; font-size: 8pt;">
		  	<%= @job.tasks.html_safe if @job.tasks %>
		  </dd>
		  <dt style="width:100px;">
		  	<b class="label"><%= t('jobs.form.Qualifications') %></b>
		  </dt>
		  <dd style="margin-left:110px; font-size: 8pt;">
		  	<%= @job.qualifications.html_safe if @job.qualifications %>
		  </dd>
		</dl>
		<br />
		<p style="font-size: 8pt">
			<%= @company.template_footer %>
		</p>
		<br />
		<p>
			<%= @company.name %>, <%= @company.address %>
		</p>
		<p class="pull-right">
			<%= @job.contact.email %>
		</p>
	</div>
</div>