- if can? :modify, Application 
	li
	  	div class="btn-group"
			a class="btn dropdown-toggle" data-toggle="dropdown" href="#"
				= t('helpers.Applications')
				span class="caret"
			ul class="dropdown-menu"
				li
					= link_to t('scopes.All'), applications_path(:scope => :all)
	  	  	 		= link_to t('scopes.Published'), applications_path(:scope => :published)
	  	  	 		= link_to t('scopes.Rated'), applications_path(:scope => :rated)
	  	  	 		= link_to t('scopes.Hired'), applications_path(:scope => :hired)
	  	  	 		= link_to t('scopes.Declined'), applications_path(:scope => :declined)
- else
	li
		= link_to(t('helpers.Applications'), applications_path) if can? :read, Application
