<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :role %><br />
    
	<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </div>
  
  <%= hidden_field_tag("id", @user.id, :id => @user.id) %>
  
  <div class="actions">
    <%= f.submit t("helpers.Submit"), class: "btn btn-small" %>
  </div>
<% end %>
