<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p id="notice"><%= alert %></p>
<% end %>
<h1 class="well main-well header_text header_background"><%= t('helpers.Users') %></h1>

<table class="table table-striped tablesorter">
	<thead>
	  <tr>
	    <th><%= t('helpers.Id') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('helpers.Email') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('helpers.Role') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.id %></td>
	    <td><%= user.email %></td>
	    <td><%= user.role.humanize %></td>
	    
	    <td><%= link_to t('helpers.Show'), user_path(user), class: "btn btn-small" %></td>
	    
		<% if can? :modify, User %>
		
	    	<td><%= link_to t('helpers.Edit'), edit_user_path(user), class: "btn btn-small" %></td>
		    <td><%= link_to t('helpers.Destroy'), user, method: :delete, class: "btn btn-small", data: { confirm: 'Are you sure?' } %></td>
		
		<% else %>
			<td></td>
			<td></td>
		<% end %>
		
	  </tr>
	<% end %>
	</tbody>
</table>