<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<dl class="dl-horizontal">
  <dt>
  	<b class="label">Email</b>
  </dt>
  <dd>
	<%= @user.email %>
  </dd>
</dl>

<%= link_to 'Edit', edit_user_path(@job), class: "btn btn-small" if can? :modify, User %>
<%= link_to 'Back', users_path, class: "btn btn-small" %>
