ul class="nav login-logout-ul"
	- if signed_in?(:user) 
		li style="padding-right: 10px;"
	  		div
	  			-if current_user && current_user.role == "admin"
		  			i class="icon-large icon-star" 
		  			| Admin
		  		i class="icon-large icon-cog"
		  		= link_to("#{t('layouts.application.Profile')} (#{current_user.email})", edit_user_registration_path)
		li
	  		div
		  		i class="icon-large icon-remove"
		  		= link_to('Logout', destroy_user_session_path, :method => :delete, :id => :logoutlink)
	- else
		li
	  		div
		  		i class="icon-large icon-ok"
		  		= link_to('Login', new_user_session_path)
	li
		= form_tag root_path, class: 'locale ' do
			= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), class: 'locale-select ',onchange: 'this.form.submit()'
			= submit_tag 'submit'
			= javascript_tag "$('.locale input').hide()"
