<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('helpers.Name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= t('helpers.Street') %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= t('helpers.Zip') %><br />
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= t('helpers.City') %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= t('helpers.Contact') %><br />
    
  	<%= collection_select(:company, :contact_id, User.all, :id, :email) %>
  </div>
  <div class="field">
    <%= t('.template_header') %><br />
    <%= f.text_area :template_header, :cols => "100", :rows => "10" %>
  </div>
  <div class="field">
    <%= t('.template_footer') %><br />
    <%= f.text_area :template_footer, :cols => "100", :rows => "10" %>
  </div>
  <div class="actions">
    <%= f.submit t("helpers.Submit"), class: "btn btn-small" %>
  </div>
<% end %>
