<h1><%= t(".Editing_company") %></h1>

<%= render 'form' %>

<%= link_to t('helpers.Show'), @company, class: "btn btn-small" %>
<%= link_to t('helpers.Back'), companies_path, class: "btn btn-small" if can? :modify, Company %>
