<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p id="notice"><%= alert %></p>
<% end %>
<h1 class="well main-well header_text header_background"><%= t('helpers.Companies') %></h1>

<table class="table table-striped tablesorter">
	<thead>
	  <tr>
	    <th><%= t('helpers.Name') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('helpers.Address') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th><%= t('.Jobs_offered') %> <i class="icon-small icon-resize-vertical" /></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	<% @companies.each do |company| %>
	  <tr>
	    <td><%= company.name %></td>
	    <td><%= company.address %></td>
	    <td><%= company.jobs.size %></td>
		
	    <td><%= link_to t('helpers.Show'), company, class: "btn btn-small" %></td>
	    
		<% if can? :modify, Job %>
		
	    <td><%= link_to t('helpers.Edit'), edit_company_path(company), class: "btn btn-small"%></td>
	    <td><%= link_to t('helpers.Destroy'), company, method: :delete, class: "btn btn-small", data: { confirm: 'Are you sure?' } %></td>
	  
		<% else %>
			<td></td>
			<td></td>
	  	<% end %>
	  	
	  </tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to t('helpers.New'), new_company_path, class: "btn btn-small" %>
