<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<dl class="dl-horizontal">
  <dt>
  	<b class="label"><%= t('helpers.Name') %></b>
  </dt>
  <dd style="font-size: 20px;">
  <%= @company.name %>
  </dd>
  <dt>
  	<b class="label"><%= t('helpers.Street') %></b>
  </dt>
  <dd>
  <%= @company.street %>
  </dd>
  <dt>
  	<b class="label"><%= t('helpers.Zip') %></b>
  </dt>
  <dd>
  <%= @company.zip %>
  </dd>
  <dt>
  	<b class="label"><%= t('helpers.City') %></b>
  </dt>
  <dd>
  <%= @company.city %>
  </dd>
  <dt>
  	<b class="label"><%= t('helpers.Address') %></b>
  </dt>
  <dd>
  <%= @company.address %>
  </dd>
  
  <dt>
  	<b class="label"><%= t('companies.form.template_header') %></b>
  </dt>
  <dd>
  	<%= @company.template_header %>
  </dd>
  
  <dt>
  	<b class="label"><%= t('companies.form.template_footer') %></b>
  </dt>
  <dd>
  	<%= @company.template_footer %>
  </dd>

</dl>

<%= link_to t('helpers.Edit'), edit_company_path(@company), class: "btn btn-small" if can? :modify, Company %>
<%= link_to t('helpers.Back'), companies_path, class: "btn btn-small" %>
