<h2><%= t('helpers.Sign_in') %></h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>
  <div>
	  <div>
		  <div>
			  <div class="control-group">
			    <div class="controls">
  					<%= f.email_field :email, :placeholder => t("helpers.Email") %></div>
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
  					<%= f.password_field :password, :placeholder => t("helpers.Password") %></div>
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
					  <% if devise_mapping.rememberable? -%>
					    <label class="checkbox">
						    <%= f.label :remember_me %>
					    	<%= f.check_box :remember_me %>
				    	</label>
					  <% end -%>
			  	    <div><%= f.submit "Sign in", id: "login_submit" , class: "btn btn-small" %></div>
			    </div>
			  </div>
		  </div>
	  </div>
  </div>
  
<% end %>

<%= render "devise/shared/links" %>
