/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require formtastic
 */
.cut-out .image-wrap {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 70, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
	background: -moz-radial-gradient(50% 50%, circle, rgba(255,255,255,0) 50px, rgba(255,255,255,1) 70px);
}

.header_text {
	padding-left: 10px;
	line-height: 50px;
	color: #FFFFFF !important;
    text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.formtastic .input .label {
	width: 15% !important;
	margin-right: 10px;
}

.formtastic .buttons, .formtastic .actions {
	padding-left: 0% !important;
}
.formtastic .button, .formtastic .action {
	overflow: hidden !important;
	float: none !important;
	margin: 0px 5px 0px 5px !important;
	padding-bottom: 5px !important;
}
