DOCTYPE html
html
	head
		title
			| Recruiting
	  	= stylesheet_link_tag "application", :media => "all"
	  	= javascript_include_tag "application"
	  	= csrf_meta_tags
	  	= javascript_include_tag "rails.validations"
	body
		div class="navbar"
			div class="navbar-inner"
		    	div class="brand" href="#"
		    		| Recruiting
			    ul class="nav"
			  		li
			  			= link_to(t('.Home'), root_path) 
			  			= render_cell :navbar_jobs, :display
			  			= render_cell :navbar_applications, :display
					li
						= link_to(t('.My_applications'), own_applications_path) if user_signed_in?
			  	  	li
			  	  		= link_to(t('.Companies'), companies_path) if can? :read, Company
			  	  	li
			  	  		= link_to(t('.Users'), users_path) if can? :read, User  
				div style="display: inline-block;" class="pull-right"
		  			= render_cell :navbar_login_area, :display
			div class="well"
					div class="well main-well"
						= yield
